<div class="font-operator km-btn-group">
    <!-- <div class="dropdown font-family-list" dropdown>
        <div class="dropdown-toggle current-font-item" dropdown-toggle ng-disabled="minder.queryCommandState('fontfamily') === -1">
            <a href class="current-font-family"  title="{{ 'fontfamily' | lang: 'ui' }}">{{ getFontfamilyName(minder.queryCommandValue('fontfamily')) || '字体' }}</a>
            <span class="caret"></span>
        </div>
        <ul class="dropdown-menu font-list">
            <li ng-repeat="f in fontFamilyList" class="font-item-wrap">
                <a ng-click="minder.execCommand('fontfamily', f.val)" class="font-item" ng-class="{ 'font-item-selected' : f == minder.queryCommandValue('fontfamily') }" ng-style="{'font-family': f.val }">{{ f.name }}</a>
            </li>
        </ul>
    </div> -->
    <div class="dropdown font-size-list"
        dropdown>
        <div class="dropdown-toggle current-font-item" dropdown-toggle ng-disabled="minder.queryCommandState('fontsize') === -1">
            <a href class="current-font-size">{{ minder.queryCommandValue('fontsize') || '字号' }}</a>
        </div>
        <div class="add-and-subtract"
          ng-disabled="minder.queryCommandState('fontsize') === -1">
          <span class="caret"
            ng-click="addAndSubtract(1)"
            style="transform: rotate(180deg);"></span>
          <span class="caret"
            ng-click="addAndSubtract(-1)"></span>
        </div>
        <ul class="dropdown-menu font-list">
            <li ng-repeat="f in fontSizeList" class="font-item-wrap">
                <a ng-click="minder.execCommand('fontsize', f)" class="font-item" ng-class="{ 'font-item-selected' : f == minder.queryCommandValue('fontsize') }" ng-style="{'font-size': f + 'px'}">{{ f }}</a>
            </li>
        </ul>

    </div>
    <div class="km-btn-item-second font-color-wrap"
      ng-disabled="minder.queryCommandState('forecolor') === -1"
      tooltip-placement="bottom"
      tooltip="{{ 'forecolor' | lang:'ui' }}">
        <i class="icons2-font_color"
          ng-click="minder.queryCommandState('forecolor') === -1 || minder.execCommand('forecolor', foreColor)"></i>
        <span color-picker
              class="font-color"
              set-color="setDefaultColor()"
              ng-disabled="minder.queryCommandState('forecolor') === -1">
            <span class="caret"></span>
        </span>
        <span class="font-color-preview"
              ng-style="{ 'background-color': foreColor }"
              ng-click="minder.queryCommandState('forecolor') === -1 || minder.execCommand('forecolor', foreColor)"
              ng-disabled="minder.queryCommandState('forecolor') === -1"></span>
        
    </div>
    <div class="km-btn-item"
          tooltip-placement="bottom"
          tooltip="{{ 'bold' | lang:'ui' }}"
          ng-click="minder.queryCommandState('bold') === -1 || minder.execCommand('bold')"
          ng-class="{'font-bold-selected' : minder.queryCommandState('bold') == 1}"
          ng-disabled="minder.queryCommandState('bold') === -1">
      <i class="icons2-font_bold"></i>
    </div>
    <div class="km-btn-item" 
          tooltip-placement="bottom"
          tooltip="{{ 'italic' | lang:'ui' }}"
          ng-click="minder.queryCommandState('italic') === -1 || minder.execCommand('italic')"
          ng-class="{'font-italics-selected' : minder.queryCommandState('italic') == 1}"
          ng-disabled="minder.queryCommandState('italic') === -1">
      <i class="icons2-font_italic"></i>
    </div>
    <!-- <color-panel minder="minder" class="inline-directive"></color-panel> -->

</div>
