<script src="ui/kityminder.app.js"></script>
<script src="ui/service/commandBinder.service.js"></script>
<script src="ui/service/config.service.js"></script>
<script src="ui/service/memory.service.js"></script>
<script src="ui/service/lang.zh-cn.service.js"></script>
<script src="ui/service/valueTransfer.service.js"></script>
<script src="ui/service/minder.service.js"></script>
<script src="ui/service/resource.service.js"></script>
<script src="ui/service/revokeDialog.service.js"></script>
<script src="ui/service/server.service.js"></script>
<script src="ui/filter/lang.filter.js"></script>
<script src="ui/dialog/hyperlink/hyperlink.ctrl.js"></script>
<script src="ui/dialog/image/image.ctrl.js"></script>
<script src="ui/dialog/imExportNode/imExportNode.ctrl.js"></script>
<script src="ui/directive/topTab/topTab.directive.js"></script>
<script src="ui/directive/undoRedo/undoRedo.directive.js"></script>
<script src="ui/directive/appendNode/appendNode.directive.js"></script>
<script src="ui/directive/arrange/arrange.directive.js"></script>
<script src="ui/directive/operation/operation.directive.js"></script>
<script src="ui/directive/hyperLink/hyperLink.directive.js"></script>
<script src="ui/directive/imageBtn/imageBtn.directive.js"></script>
<script src="ui/directive/noteBtn/noteBtn.directive.js"></script>
<script src="ui/directive/resourceEditor/resourceEditor.directive.js"></script>
<script src="ui/directive/priorityEditor/priorityEditor.directive.js"></script>
<script src="ui/directive/progressEditor/progressEditor.directive.js"></script>
<script src="ui/directive/noteEditor/noteEditor.directive.js"></script>
<script src="ui/directive/notePreviewer/notePreviewer.directive.js"></script>
<script src="ui/directive/kityminderEditor/kityminderEditor.directive.js"></script>
<script src="ui/directive/templateList/templateList.directive.js"></script>
<script src="ui/directive/themeList/themeList.directive.js"></script>
<script src="ui/directive/layout/layout.directive.js"></script>
<script src="ui/directive/styleOperator/styleOperator.directive.js"></script>
<script src="ui/directive/fontOperator/fontOperator.directive.js"></script>
<script src="ui/directive/expandLevel/expandLevel.directive.js"></script>
<script src="ui/directive/selectAll/selectAll.directive.js"></script>
<script src="ui/directive/colorPanel/colorPanel.directive.js"></script>
<script src="ui/directive/navigator/navigator.directive.js"></script>
<script src="ui/directive/searchBox/searchBox.directive.js"></script>
<script src="ui/directive/searchBtn/searchBtn.directive.js"></script>