<div class="image-dialog r-modal-shadow">
    <div class="r-modal-header">
        <h3 class="r-modal-title">图片</h3>
        <r-modal-close></r-modal-close>
    </div>
    <div class="r-modal-body">
        <tabset>
            <tab heading="图片搜索">
                <form class="form-inline key-word-form">
                    <span for="search-keyword" class="search-tip">关键词：</span>
                    <input type="text" class="r-input" ng-model="data.searchKeyword2" id="search-keyword" placeholder="请输入搜索的关键词">
                    <button class="btn r-btn-primary search-btn" ng-click="searchImage()">百度一下</button>
                </form>
                <div class="search-result" id="search-result">
                    <ul>
                        <li ng-repeat="image in list" id="{{ 'img-item' + $index }}" ng-class="{'selected' : isSelected}" ng-click="selectImage($event)">
                            <img id="{{ 'img-' + $index }}" ng-src="{{ image.src || '' }}" alt="{{ image.title }}" onerror="this.parentNode.removeChild(this)" />
                            <span>{{ image.title }}</span>
                        </li>
                    </ul>
                </div>
                <a href="javascript:;" ng-click="deleteCurrent()" class="remove-image">移除已有图片</a>
            </tab>
            <tab heading="外链图片">
                <form>
                    <div class="form-group" ng-class="{true: 'has-success', false: 'has-error'}[urlPassed]">
                        <span for="image-url">链接地址：</span>
                        <input type="text"
                               class="r-input"
                               ng-model="data.url"
                               ng-blur="urlPassed = data.R_URL.test(data.url)"
                               ng-focus="this.value = data.url"
                               ng-keydown="shortCut($event)"
                               placeholder="以 http(s):// 开头" 
                               id="image-url">
                    </div>
                    <div class="form-group">
                        <img class="image-preview" id="image-preview" ng-src="{{ data.url }}" alt="{{ data.title }}"/>
                    </div>
                </form>
                <a href="javascript:;" ng-click="deleteCurrent()" class="remove-image">移除已有图片</a>
            </tab>
            <tab heading="上传图片" active="true">
                <form>
                    <div class="form-group">
                        <!-- 这里不能用 ng-change -->
                        <input type="file" name="upload-image" id="upload-image" class="upload-image" accept=".jpg,.JPG,jpeg,JPEG,.png,.PNG,.gif,.GIF" onchange="angular.element(this).scope().uploadImage()"/>
                        <label for="upload-image" class="btn r-btn-primary">上传文件</label>
                    </div>
                    <div class="form-group">
                        <img class="image-preview" id="image-preview" ng-src="{{ data.url }}" title="{{ data.title }}" alt="{{ data.title }}"/>
                    </div>
                </form>
                <a href="javascript:;" ng-click="deleteCurrent()" class="remove-image">移除已有图片</a>
            </tab>
        </tabset>
    </div>
    <div class="r-modal-footer">
        <button class="btn r-btn-primary btn-block btn-xxl" ng-click="ok()">确定</button>
    </div>
</div>