<div class="km-btn-group">
    <div class="km-btn-item"
         ng-disabled="minder.queryCommandState('AppendParentNode') === -1"
         ng-click="minder.queryCommandState('AppendParentNode') === -1 || execCommand('AppendParentNode')"
         tooltip-placement="bottom"
         tooltip="{{ 'appendparentnode' | lang:'ui/command' }}">
        <i class="icons2-add_father"></i>
    </div>
    <div class="km-btn-item"
         ng-disabled="minder.queryCommandState('AppendSiblingNode') === -1"
         ng-click="minder.queryCommandState('AppendSiblingNode') === -1 ||execCommand('AppendSiblingNode')"
         tooltip-placement="bottom"
         tooltip="{{ 'appendsiblingnode' | lang:'ui/command' }}">
        <i class="icons2-add_sibling"></i>
    </div>
    <div class="km-btn-item"
         ng-disabled="minder.queryCommandState('AppendChildNode') === -1"
         ng-click="minder.queryCommandState('AppendChildNode') === -1 || execCommand('AppendChildNode')"
         tooltip-placement="bottom"
         tooltip="{{ 'appendchildnode' | lang:'ui/command' }}">
        <i class="icons2-add_child"></i>
    </div>
</div>