<div class="km-btn-group">
    <div class="km-btn-item"
         ng-disabled="editor.history.hasUndo() == false"
         ng-click="editor.history.hasUndo() == false || editor.history.undo();"
         tooltip-placement="bottom"
         tooltip="{{ 'undo' | lang:'ui' }}">
         <i class="icons2-revoke"></i>
    </div>
    <div class="km-btn-item"
         ng-disabled="editor.history.hasRedo() == false"
         ng-click="editor.history.hasRedo() == false || editor.history.redo()"
         tooltip-placement="bottom"
         tooltip="{{ 'redo' | lang:'ui' }}">
         <i class="icons2-redo"></i>
    </div>
</div>